*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
 
  padding-top: 120px;
  font-family:BBH Bogle, sans-serif;
  background:repeating-linear-gradient(to bottom,#1e3c72,#002c6d,#1e3c72);
  min-height:100vh;
  color:white;
  background-size: 100% 300px;
}

header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background:#0a1a33;
  display:flex;
  align-items:center;
  padding:0 20px;
  justify-content:space-between;
  z-index: 5;
}

.lb{
        color: yellow;
        margin-left: 1px;
        margin-right: 12px;
        margin-top: 3px;
        transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
        background-color: #0A1A33;
        border: none;
        height: 85px;
        width: 85px;
        border-radius: 42px;
        cursor: pointer;
        font-size: medium;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
        padding-left: 3px;
        font-size: 14px;
        font-family: sans-serif;
       
    }
     
    .lb:hover{
    background-color: rgb(255, 255, 0) ;
    color: #0A1A33 ;
    box-shadow: 2px 2px 4px  #000e22;
     cursor: pointer;
    }
    .lb:active{
        opacity: 0.8;
    }

.page-title{
  font-size: 60px;
  font-weight: 350;
  color: white;
  transition: color 0.1s, text-shadow 0.1s;
  margin-left: 80px;
  margin-right: 0px;
}
  .page-title:hover{
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px 4px #03080f;
    cursor:default;
  }

.steam{
        color: yellow;
        margin-left: 3px;
        margin-top: 3px;
        transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
        background-color: #0A1A33;
        border: none;
        height: 35px;
        width: 70px;
        border-radius: 3px;
        cursor: pointer;
        font-size: small;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
        padding-left: 3px;
        font-family: sans-serif;
}
.steam:hover{
  background-color: rgb(255, 255, 0) ;
    color: #0A1A33 ;
    box-shadow: 2px 2px 4px  #000e22;
  }

  .steam:active{
        opacity: 0.8;
    }

.epic{
 color: yellow;
        margin-left: 3px;
        margin-top: 3px;
        transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
        background-color: #0A1A33;
        border: none;
        height: 35px;
        width: 100px;
        border-radius: 3px;
        cursor: pointer;
        font-size: small;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
        padding-left: 3px;
        font-family: sans-serif;
}
.epic:hover{
    background-color: rgb(255, 255, 0) ;
    color: #0A1A33 ;
    box-shadow: 2px 2px 4px  #000e22;
  }

  .epic:active{
        opacity: 0.8;
    }

.discription{
  background-color: rgba(10, 26, 51, 0.3);
  width: 100%;
  height: 150px;
  font-family: Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.discription p{
  margin-top: 8px;
}



.big-game{
  min-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-top: 20px;
  overflow: visible;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 6px 10px #03080f;
  transition: background-size 0.5s;
}

.big-game::before{
  content:"";
  position: absolute;
  inset:0;
  background-color: rgba(0,0,0,0.5);
  z-index:0;
  transition: background-color 0.5s;

}
.big-game > *{
  position: relative;
  z-index:1;
}

.big-game:hover{
  background-size: 110%;
}
.big-game:hover::before{
  background-color: rgba(0,0,0,0.65);
  
}

.game-1{
  margin-top: 50px;
  border-radius: 20px;
  width: 200px;
  height: 300px;
  position: relative;
}
.game-1:hover{
  .one{
    top: -40px;
    left: -60px;
   background-color: #03080f;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #FFD700;}
  .two{
     top: -40px;
    left: -60px;
   background-color: #03080f;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #C0C0C0;
    }
  .three{
     top: -40px;
    left: -60px;
   background-color: #03080f;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #CD7F32;
    }
  
  img{
      height: 320px;
  width: 220px;
  object-fit:contain;

  }}



.game-1 img{
  border-radius: 18px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s;
}

.red-dead{
  cursor: pointer;
  margin-top: 25px;
  font-size: 85px;
  font-family: Oswald, sans-serif;
}

.genre{
  margin-bottom: 5px;
  font-family: Ubuntu, sans-serif;
}

.one,.two,.three{
  cursor: pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family: BBH Bogle, sans-serif;
  font-size: 40px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position:absolute;
  top:-10px;
  left:-20px;
  color:black;
  transition: all 0.3s;
}

.one{
    background-color: #FFD700;
}
.two{
    background-color: #C0C0C0;
} 
.three{
    background-color: #CD7F32;
} 
.rest{
    background-color: rgb(255, 255, 255);
     display:flex;
  align-items:center;
  justify-content:center;
  font-family: BBH Bogle, sans-serif;
  font-size: 40px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position:absolute;
  top:-10px;
  left:-20px;
  color:black;

}

.game-1-bg{
    background-image: url('assets/general/red dead poster.jpeg');
}   
.game-2-bg{
    background-image: url('assets/general/the last of us poster.jpg');
} 
.game-3-bg{
    background-image: url('assets/general/the witcher 3 poster.jpg');
}     

.game-box{
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
      margin-top: 50px;
  border-radius: 20px;
  width: 280px;
  height: 500px;
  position: relative;
    background-color: #0a1a33;
     box-shadow: 0px 6px 10px #03080f;
    cursor: pointer;
    opacity: 1;
    transition: opacity, box-shadow, width, height 0.3s;
    
}
.rest{
  transition: background-color, width, height,border-radius,  0.3s;
}
.game-box:hover{
  opacity: 0.8;
  box-shadow: 0px 14px 20px #03080f;
  width: 300px;
  height: 520px;

    .rest{
    background-color: #03080f;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  img{
  height: 320px;
  width: 220px;
  object-fit:contain;
}

}
.game-box:active{
  .rest{
    border-radius: 20px;
  }
  opacity: 0.7;
 
  height: 500px;
}
.game-box img{
      border-radius: 18px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s;
}
.game-name{
    font-family: Oswald,arial;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 50px;

}
.game-name2{
    font-family: Oswald,arial;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: -60px;
}
.genre2{
    font-family: Ubuntu,sans-serif;
    margin-bottom: 3px;
}

.games{
  min-width:200px;
  justify-content:center;
  flex-wrap: wrap;
   display: flex;
   flex-direction: row;
       height: 100%;
    width: 100%;
}
.end{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 300px;
  padding-right: 300px;
  background-color: rgba(10, 26, 51, 0.3);
margin-top: 30px;
  width: 100%;
  height: 150px;
 font-family:sans-serif;
 p{
  margin-bottom: 23px;
  font-size:20px;

 }
}
.names{
  
display: grid;
grid-template-columns: auto auto auto auto;
align-items: center;
  font-size: medium;
  color: yellow;
  font-family: Ubuntu;
  cursor:default;
  p{
    margin-left:25px;
    margin-right:25px;
  }
 
}
#ict{
    color:#344a68;

}
